<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Potash</title>
    </head>
    <body>
        <%@ include file="navigation.html" %>
        <h1 id="Potash">Potash</h1>
        <a href="https://business.financialpost.com/"><img src="https://financialpostcom.files.wordpress.com/2016/09/potash1.jpg"></a>
        <p><small>Sourced from Wikipedia, the free encyclopedia article on <a href="https://en.wikipedia.org/wiki/Potash">Potash</a></small>
        </p>
        <p>Table of Contents</p>
        <ol>
            <li><a href="#Terminology">Terminology</a></li>
            <li><a href="#Production">Production</a></li>
        </ol>
        <p><strong>Potash</strong> is any of various mined and manufactured salts that contain potassium in
            water-soluble form. The name derives from <em>pot ash</em>, which refers to plant ashes soaked in water in a
            pot, the primary means of manufacturing the product before the industrial era. The word potassium is <a href="https://dictionary.cambridge.org/dictionary/english/derived">derived</a>
            from potash.</p>

        <p>Potash is produced worldwide at amounts exceeding 30 million tonnes per year, mostly for use in fertilizers.
            Various types of fertilizer-potash thus <a href="https://dictionary.cambridge.org/dictionary/english/constitute">constitute</a> the single largest global industrial use of the element
            potassium. Potassium was first derived by electrolysis of caustic potash (a.k.a. potassium hydroxide), in
            1807.</p>

        <hr>

        <h2 id="Terminology">Terminology</h2>

        <p>Potash refers to potassium <a href="https://dictionary.cambridge.org/dictionary/english/compound?q=compounds">compounds</a> and potassium-bearing materials, the most common being potassium
            chloride (KCl). The term potash comes from the Middle Dutch word potaschen (<em>pot ashes</em>, 1477). </p>

        <p>The old method of making <a href="https://en.wikipedia.org/wiki/Potassium_carbonate">Potassium carbonate</a>(K<sub>2</sub>CO<sub>3</sub>) was
            by collecting or producing wood ash (an occupation carried out by ash burners), leaching the ashes and then
            evaporating the resulting solution in large iron pots, leaving a white <a href="https://dictionary.cambridge.org/dictionary/english/residue">residue</a> called pot ash. Approximately
            10% by weight of common wood ash can be recovered as pot ash. Later, <em>potash</em> became the term widely
            applied to naturally occurring potassium salts and the commercial product derived from them.</p>

        <hr>

        <h2 id="Production">Production</h2>

        <p>All commercial potash deposits come originally from evaporite deposits and are often buried deep below the
            earth's surface. Potash ores are typically rich in potassium chloride (KCl) and sodium chloride (NaCl) and
            are typically obtained by conventional shaft mining with the extracted ore ground into a powder. Other
            methods include <a href="https://dictionary.cambridge.org/dictionary/english/dissolution">dissolution</a> mining and evaporation methods from brines.</p>

        <p>In the <a href="https://dictionary.cambridge.org/dictionary/english/evaporation">evaporation</a> method hot water is injected into the potash which is dissolved and then pumped to the
            surface where it is concentrated by solar induced evaporation. Amine reagents are then added to either the
            mined or evaporated solutions. The amine coats the KCl but not NaCl. Air bubbles cling to the amine + KCl
            and float it to the surface while the NaCl and clay sink to the bottom. The surface is skimmed for the amine
        + KCl which is then dried and packaged for use as a K rich <a href="https://dictionary.cambridge.org/dictionary/english/fertilizer">fertilizer</a> - KCl dissolves readily in water and
        is available quickly for plant nutrition.</p>

        <p>Potash deposits can be found all over the world, at present deposits are being mined in Canada, Russia,
        China, Belarus, Israel, Germany, Chile, United States, Jordan, Spain, United Kingdom, Uzbekistan and Brazil.</p>
        <h2><a href="#Potash">return to top</a></h2>
    </body>
</html>